[submodule "Externals/Git.hub"]
	path = externals/Git.hub
	url=https://github.com/M-L-Ml/Git.hub.PostMonoPort-
[submodule "Externals/conemu-inside"]
	path = externals/conemu-inside
	url = ../../gitextensions/conemu-inside.git
[submodule "Externals/ICSharpCode.TextEditor"]
	path = externals/ICSharpCode.TextEditor
	url=https://github.com/M-L-Ml/ICSharpCode.TextEditor.PostMonoPort
[submodule "externals/Windows-API-Code-Pack"]
	path = externals/Windows-API-Code-Pack
	url = https://github.com/M-L-Ml/Windows-API-Code-Pack-1.1
	branch = port